<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="about-content">
           <h2>About us</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, libero. A impedit blanditiis quibusdam consequatur veritatis exercitationem qui, ut expedita quae, quod, necessitatibus corrupti. Nostrum explicabo aperiam modi doloribus rerum?</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, libero. A impedit blanditiis quibusdam consequatur veritatis exercitationem qui, ut expedita quae, quod, necessitatibus corrupti. Nostrum explicabo aperiam modi doloribus rerum?</p>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, libero. A impedit blanditiis quibusdam consequatur veritatis exercitationem qui, ut expedita quae, quod, necessitatibus corrupti. Nostrum explicabo aperiam modi doloribus rerum?</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>